.all_result_resume{
    padding: 1em;
    border: 2px solid rgb(208, 208, 208);
    border-radius: 10px;

}

.result_resume{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.viewingResume{
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.result_name_surname_resume, .result_salary_chart_result{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .2em;
    margin: 1em 0;
}

.resume_foto_result{
    max-width: 10em;
    max-height: 10em;
    width: 10em;
    height: 10em;
    border-radius: 100%;
}

.result_name_fathername{
    font-size: 1.6em;
    font-weight: 400;
}

.salary_res, .busyness_res, .chart_res{
    color: rgb(137, 137, 137);
}

.result_post{
    padding-top: .3em;
    padding-bottom: 1.5em;
    color: rgb(81, 107, 255);
    font-weight: 500;
}
.download_btn{
    background: #ffea2e; font-weight: bold;
    line-height: 20px;
    font-size: 16px;
    color: #333;
    border: 0;
    border-radius: .5em;
    padding: 2em 4em;
    cursor: pointer;
    transition: background .5s;
    margin-top: 1em;
  }
  
.download_btn:hover {
      background: #f2de2a;
}

li{
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}