.main_btn_resume{
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.btn_resume{
  background: #ffea2e; font-weight: bold;
  line-height: 20px;
  font-size: 16px;
  color: #333;
  border: 0;
  border-radius: .5em;
  padding: 2em 4em;
  cursor: pointer;
  transition: background .5s;
}

.btn_resume:hover {
    background: #f2de2a;
}